

<footer>
  <% const d = new Date();%>
  <% let year = d.getFullYear(); %>
  <div id="rights">
    <p>Copyright &copy; <%- year %></p>
  </div>

  <div class="quick-links">
    <img src="" alt="linkedin">
    <img src="" alt="Youtube">
    <img src="" alt="Github">        
  </div>
</footer>