<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="styles/footer.css">
</head>
<body>

  <footer>
  <% const d = new Date();%>
  <% let year = d.getFullYear(); %>
  <div id="copy-rights">
    <p>Copyright &copy; <%- year %></p>
  </div>
  <div class="quick-links">
    <img src="" alt="linkedin">
    <img src="" alt="Youtube">
    <img src="" alt="Github">        
  </div>
</footer>
  
</body>
</html>
