<header>
  <nav class="main-nav">
    <div>DevHouse</div>

    <div class="nav-link">
      <ul>
        <li><a href="">Software engineering</a></li>
        <li><a href="">Data</a></li>
        <li><a href="">Quant</a></li>
        <li><a href="">Networking</a></li>
        <li><a href="">Cybersecurity</a></li>
      </ul>
    </div>
  </nav>
</header>
