<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <main>
      <section id="userAcccount">
        <!--This will show the user has account with us-->
        <fieldset id="login">
          <legend>Log In</legend>
          <form method="POST" action="/login">
            <label for="email">Email Address</label><br />
            <input
              type="email"
              placeholder="Enter your email"
              name="email"
              id="email"
            /><br /><br />
            <label for="password">Password</label><br />
            <input
              type="password"
              placeholder="Enter your password"
              name="password"
              id="password"
            /><br /><br />
            <button type="submit">Log In</button>
          </form>
        </fieldset>

        <!--This will only show when the user does not have an account-->
        <fieldset id="create-Account">
          <legend>Create Account</legend>
          <form method="POST" action="/creat account">
            <label for="username">Username</label><br />
            <input
              type="text"
              placeholder="Enter your username"
              name="username"
              id="username"
            /><br /><br />
            <label for="email-create">Email Address</label><br />
            <input
              type="email"
              placeholder="Enter your email"
              name="email"
              id="email-create"
            /><br /><br />
            <button type="submit">Create Account</button>
          </form>
        </fieldset>
      </section>
    </main>
  </body>
</html>
