<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DevHouse</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <!--CSS Styles links-->
    <link rel="stylesheet" href="/styles/style.css" />
    <!-- Main styles -->
    <link rel="stylesheet" href="/styles/layout.css" />
    <!-- Layout styles -->
    <link rel="stylesheet" href="/styless/buttons.css" />
    <!-- Button styles -->
  </head>

  <body>
    <%- include("partials/header.ejs") %>
    <main>
      <!--landing page section-->
      <section class="hero-section">
        <div id="hero-info">
          <h1 id="mian-heading">
            One place where tech enthusiasts meet and share ideas
          </h1>

          <p id="heading-info">
            Interested in learning more about tech and how to improve your<br />
            skills or break into the industry?
            <span>You've come to the right place!</span>
          </p>
        </div>

        <div id="hero-button">
          <input id="login-button" type="button" value="Login" />
          <input id="signup-button" type="button" value="Get started" />
        </div>

      </section>
      <!--career display section-->
      <section class="inductry-section">
        <h2>Choose the industry your interested in!</h2>

        <div id="industries-grid">
          <div class="career-display">
            <h3>Software Engineering</h3>
            <div>
              <img src="" alt="tech image" />
            </div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut
              tempore iure, voluptate accusamus amet ad hic mollitia nihil.
              Temporibus, nam! Neque sequi tenetur ad assumenda eum nihil illum
              adipisci repellendus?
            </p>
          </div>

          <div class="career-display">
            <h3>Data</h3>
            <div>
              <img src="" alt="tech image" />
            </div>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Consequatur iusto corrupti tempore. Ab officiis iure quasi?
              Sapiente consectetur dolorum optio, nulla quod doloribus sit omnis
              quia placeat error a delectus!
            </p>
          </div>

          <div class="career-display">
            <h3>Quant</h3>
            <div>
              <img src="" alt="tech image" />
            </div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
              itaque ad unde laudantium dolore sunt nam? Dolores ex nesciunt
              aperiam, officiis magnam ab blanditiis temporibus odio. Aut, illo?
              Sunt, provident!
            </p>
          </div>

          <div class="career-display">
            <h3>Networking</h3>
            <div>
              <img src="" alt="tech image" />
            </div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
              nam magnam modi placeat consectetur architecto vel iusto voluptate
              temporibus dignissimos, exercitationem corporis nesciunt minus quo
              mollitia optio consequuntur ab animi.
            </p>
          </div>

          <div class="career-display">
            <h3>Cybersecurity</h3>
            <div>
              <img src="" alt="tech image" />
            </div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
              nam magnam modi placeat consectetur architecto vel iusto voluptate
              temporibus dignissimos, exercitationem corporis nesciunt minus quo
              mollitia optio consequuntur ab animi.
            </p>
          </div>
          <div class="career-display">
            <h3>Hacker</h3>
            <div>
              <img src="" alt="tech image" />
            </div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
              nam magnam modi placeat consectetur architecto vel iusto voluptate
              temporibus dignissimos, exercitationem corporis nesciunt minus quo
              mollitia optio consequuntur ab animi.
            </p>
          </div>
        </div>
      </section>

      <!--tech resourceses and tools section-->
      <section id="Resources-tools-section">
        <div class="resources-info">
          <h2>Tech Resources & Tools</h2>
          <p>
            Find important resources and tools to learn from and include in your
            tech stack.
          </p>
          <button id="resources-button">Learn More</button>
        </div>

        <div>
          <img src="" alt="tech stack image" />
        </div>
      </section>
    </main>
    <!--footer section-->
    <%- include("partials/footer.ejs") %>
  </body>
</html>
