<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DevHouse</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <!--CSS Styles links-->
    <link rel="stylesheet" href="css/style.css" />
    <!-- Main styles -->
    <link rel="stylesheet" href="css/header.css" />
    <!-- Header-specific styles -->
    <link rel="stylesheet" href="css/footer.css" />
    <!-- Footer-specific styles -->
    <link rel="stylesheet" href="css/layout.css" />
    <!-- Layout styles -->
    <link rel="stylesheet" href="css/buttons.css" />
    <!-- Button styles -->
  </head>

  <body>
    <%- include("partials/header.ejs") %>

    <mian>
      <!--landing page section-->
      <section class="hero-section">
        <div>
          <h1>One place where tech enthusiasts meet and share ideas</h1>
          <p>
            Interested in learning more about tech and how to improve your
            skills or break into the industry?
            <span>You've come to the right place!</span>
          </p>
        </div>
        <div>
          <input id="" type="button" value="Login" />
          <input id="" type="button" value="Get started" />
        </div>
      </section>
      <!--career display section-->
      <section class="inductry-section">
        <h2>Choose the industry your interested in!</h2>

        <div id="industries">
          <div class="career-display">
            <h3>Software Engineering</h3>
            <div>
              <img src="" alt="tech image" />
            </div>
            <p></p>
          </div>

          <div class="career-display">
            <h3>Data</h3>
            <div>
              <img src="" alt="tech image" />
            </div>
            <p></p>
          </div>

          <div class="career-display">
            <h3>Quant</h3>
            <div>
              <img src="" alt="tech image" />
            </div>
            <p></p>
          </div>

          <div class="career-display">
            <h3>Networking</h3>
            <div>
              <img src="" alt="tech image" />
            </div>
            <p></p>
          </div>
        </div>
      </section>

      <!--tech resourceses and tools section-->
      <section id="Resources-tools-section">
        <div>
          <h2>Tech Resources & Tools</h2>
          <p>
            Find important resources and tools to learn from and include in your
            tech stack.
          </p>
        </div>

        <div>
          <img src="" alt="tech stack image"/>
        </div>

        <button>Learn More</button>
      </section>
    </mian>
    <!--footer section-->
    <%- include("partials/footer.ejs") %>
  </body>
</html>
