
header{  
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
}



.main-nav,
#nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-list {
  gap: 1rem;
}

#nav-list li a {
  text-decoration: none;
  color: black;
}

#nav-list li {
  list-style-type: none;
}

#logo a {
  text-decoration: none;
  color: black;
}

#loginButton {
  padding: 0.5rem 2rem 0.5rem;
  border-radius: 0.5rem;
  background-color: white;
  border-width: 0.1rem;
  border-color: grey;
}

#loginButton,
#signupButton {
  cursor: pointer;
}

#signupButton {
  border: none;
  background-color: #1db954;
  color: white;
  padding: 0.7rem 2.5rem 0.7rem;
  border-radius: 0.5rem;
}
